@section scripts{
    <script src="@Url.Content("~/Scripts/email.js")"></script>
}
@section css{
    <link href="@Url.Content("~/Content/email.css")" rel="stylesheet" />
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="layui-form" action="">
    @{ Html.RenderAction("RecaptchaPartial", "Recaptcha");}
    @Html.AntiForgeryToken()
    <div class="layui-container">
        <div class="layui-row">
            <label class="layui-form-label layui-col-md6">发件人</label>
            <div class="layui-col-md6 layui-input-block">
                <input type="text" name="from" lay-verify="email|required" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label layui-col-md6">收件人</label>
            <div class="layui-col-md6 layui-input-block">
                <input type="text" name="to" lay-verify="email|required" autocomplete="off" placeholder="请输入邮箱" class="layui-input layui-disabled" value="569812422@qq.com" readonly disabled>
            </div>
        </div>
        <div class="layui-row">
            <label class="layui-form-label layui-col-md1">主题</label>
            <div class="layui-col-md11 layui-input-block">
                <input type="text" name="subject" lay-verify="required" autocomplete="off" placeholder="邮件主题" class="layui-input">
            </div>
        </div>
        <div class="layui-row">
            <textarea name="body" required lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>

        <div class="layui-input-inline" style="margin-top:5px">
            <button type="button" class="layui-btn button-send" data-request-url="@Url.Action("SendEmail", "Home")" lay-submit lay-filter="send">发送</button>
        </div>
    </div>
</form>