<div id="comment-container">
</div>
<div id="page"></div>



<script>
    layui.use(['jquery','layer', 'laypage'], function () {
        var $ = layui.jquery;
        var laypage = layui.laypage;
        var pageSize = @ViewBag.PageSize;
        var articleID = "@ViewBag.ArticleID";
        var requestUrl = '@Url.Action("CommentListPartial", "Comment")';

        //每次访问页面都请求一次
        GetDataByHtml(requestUrl,"get",
                    { pageIndex: 1, pageSize: pageSize,articleID:articleID},function(data){
                        setHtml(data); //渲染第一页
                        getPages(totalCount); //此方法第一次不生效，渲染后续页  totalCount来自于组件页面定义的变量
                    });


        function getPages(count) {
            laypage.render({
            elem: 'page',
            count: count,
            layout: ['page', 'skip', 'count'],
            limit: pageSize,
            jump: function (obj, first) {
                if (!first) {
                    GetDataByHtml(requestUrl,"get",{pageIndex:obj.curr,pageSize:obj.limit,articleID:articleID},function(data){
                        setHtml(data);
                    });
                }
            }
        });
        }

        function setHtml(data) {
            $('#comment-container').html(data);
            //滚动至窗口位置
            var container = $('html,body');
            var scrollTo = $("#remark-editor-container");
            container.animate({
                scrollTop: scrollTo.offset().top - 100
            })
        }
    });
</script>