@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models



<blockquote class="layui-elem-quote sitemap shadow">
    @foreach (var node in Model)
    {
        if (node != Model.Last())
        {
            <a href="@node.Url" title="@node.Description">@node.Description</a><span class="layui-box"> > </span>
        }
        else
        {
                <span style="color:#646464">@node.Description</span>
        }
    }
</blockquote>