
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavLayOut.cshtml";
}



<div class="blog-container">
    @Html.MvcSiteMap().SiteMapPath("HuLuBlogSiteMap")
    <div class="blog-main">
        <h2>index</h2>

        <div class="clear"></div>
    </div>
</div>



